*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*   PARTE SUPERIORE */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: fixed;
  background-color: black;
}
.logo{
  width: 20%;
  display: flex;
  justify-content: center;
}
.logo h1{
  color: red;
}
.search_box{
  width: 30%;
  display: flex;
  justify-content: center;
}
.search_box input{
  width: 50%;
  height: 5vh;
  padding: 5px;
  border-radius: 10px;
}
.search_box button{
  width: 15%;
  height: 5vh;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
}


/*   CONTEINER CENTRALE */
.container{
  min-height:700px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.film{
  margin-top: 100px;
  width: 30%;
}
.star_color{
  color: yellow;
}
.lingua img{
  height: 30px;
  width: 30px;
}

.copertina img{
  width: 185px;
}
